/* Contact.js */

.formContainer {
  top: 17.5vh;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  background: rgb(60, 60, 60);
  height: 65vh;
  width: 100%;
  margin: auto;
  max-width: 800px;
  box-shadow: 0.25rem 0rem 0.4rem 0 rgba(93, 91, 91, 0.3);
  border-radius: 0.5rem;
  /*theses media queries dont really belong at the bottom of the page becuase they are special settings for the modal*/
  @media screen and (max-width: 500px) {
    height: 100vh;
    top: 0;
    border-radius: 0;
  }
  @media screen and (max-height: 900px) {
    height: 100vh;
    top: 0;
    border-radius: 0;
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.form > h1 {
  margin-bottom: 30px;
  color: white;
}

.form > input,
textarea {
  padding: 18px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid grey;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  font-size: 1.2rem;
}

.form > input:focus,
textarea:focus {
}

/*couldnt really work out how to make this more responsive*/
.form > textarea {
  height: 150px;
  @media screen and (max-height: 680px) {
    height: 70px;
  }
  @media screen and (max-height: 1000px) {
    height: 80px;
  }
  @media screen and (max-width: 500px) {
    height: 120px;
  }
  @media screen and (max-width: 450px) {
    height: 160px;
  }
}

.form > label {
  padding-bottom: 10px;
  color: #898e8c;
  font-size: 1.2rem;
}

.exit {
  position: absolute;
  top: 0px;
  right: 5px;
  font-weight: 400;
  font-size: 1.2rem;
}

.exit p {
  color: #898e8c;
  margin-top: 0.8rem;
}

.form > button {
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: rgb(60, 60, 60);
  justify-content: center;
}

.submit {
  font-weight: 550;
  font-size: 30px;
  margin: 3%;
}
